/* CSS Document */
body{
  font:normal 12px/1.5 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1';
  color:#333;
}
html{
  color:#333;
  background:#fff;
}
body,ul,li,ol,div,dt,dl,dd,form,h1,h2,h3,h4,h5,h6,pre,button,p,cod,input,th,td,tr,atricle,footer,nav,section,em,span{
  margin:0;
  padding:0;
}
img{
  border:0;
  vertical-align:top;
}
a{
  color:#333;
  text-decoration:none;
}
ul,li{
  list-style:none;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:500;
}
address,caption,cite,code,dfn,em,th,var{
  font-style:normal;
  font-weight:500;
}
.fn-clear{
  zoom:1;
}
.clear:after{
  content:".";
  display:block;
  height:0;
  clear:both;
}
.fn-clear:after{
  visibility:hidden;
  display:block;
  font-size:0;
  clear:both;
  height:0;
  content:"";
}
i,em{
  display:inline-block;
  font-style:normal;
}
.fl, .fr{
  position:relative;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
div{
  display:block;
}
.clear{
  clear:both;
}
.clearfix{
}
a:hover{
  text-decoration:underline;
}
.bg1{
	background: url(../img/1.png) no-repeat 50% 50%;
	height: 326px;
}
.bg2{
	background: url(../img/2.png) no-repeat 50% 50%;
	height: 349px;
	margin-bottom: 60px;
}
.w1000{
	width: 1000px;
	margin: 0 auto;
}
.o{
	overflow: hidden;
}
.context{
	width: 384px;
	margin-left: 16px;
	line-height: 30px;
	padding-top: 73px;
	background: url(../img/4G_tit17450.png) no-repeat;
	text-indent: 20px;
	font-size: 14px;
	color: #636363;
	font-family: "\5B8B\4F53", Tahoma, Helvetica, san-serif;
}
.context a{
	color: #636363;
	font-family: "\5B8B\4F53", Tahoma, Helvetica, san-serif;
}
.context a:hover{
	color: #f60;
}
.focus{
	width: 457px;
	height: 290px;
	margin-left: 76px;
	padding: 16px 16px 33px;
	background: url(../img/4G_tit_rbg488355.png) no-repeat;
}
.focus .focus_con{
	width: 450px;
	height: 290px;
	position: relative;
	overflow: hidden;
}
.focus .focus_con ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 290px;
	overflow: hidden;
}
.focus .focus_con li{
	float: left;
	height: 290px;
	position: relative;
}
.focus_con li img{
	width: 450px;
	height: 290px;
}
.focus_con .dot{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #636363;
	opacity: 0.8;
	position: absolute;
	left: 0;
	bottom: 0;
}
.focus_con .dot span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	margin-right: 8px;
	cursor: pointer;
}
.focus_con .dot span.active{
	background-color: #FF6600;
}
.mb50{
	margin-bottom: 50px;
}
.bg3{
	background: url(../img/wz2.png) no-repeat 50% 50px;
}
.wrapper{
	width: 100%;
	background: url(../img/bg1.png) repeat-x;
	height: 637px;
}
.bg4{
	background: url(../img/wz1.png) no-repeat 50% 67px;
	height: 295px;
}
.w962{
	width: 962px;
	margin: 0 auto;
}
.w962 ul{
	width: 962px;
}
.w962 li{
	width: 73px;
	position: relative;
	margin-right: 1px;
	float: left;
	height: 65px;
	cursor: pointer;
	background: url(../img/xx.jpg) 0 50% repeat-x;
}
.w962 li.show{
	background: url(../img/xx1.jpg) 0 50% repeat-x !important;
}
.timer, .timer1{
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	color: #FFFFFF;
	line-height: 20px;
	position: absolute;
	left: 5px;
	top: 0;
	z-index: 3;
}
.jiao_t{
	position: absolute;
	left: 57px;
	top: 23px;
	display: inline-block;
	border: 6px solid #ffc973;
	border-left: 6px solid #4463b3;
	border-right: 6px solid #4463b3;
	border-top: 0;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.w962 li.show .jiao_t{
	border: 6px solid #FFFFFF;
	border-left: 6px solid #4463b3;
	border-right: 6px solid #4463b3;
	border-top: 0;
}
.jiao_b{
	position: absolute;
	left: 57px;
	bottom: 22px;
	display: inline-block;
	border: 6px solid #ffc973;
	border-left: 6px solid #4463b3;
	border-right: 6px solid #4463b3;
	border-bottom: 0;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.w962 li.show .jiao_b{
	border: 6px solid #FFFFFF;
	border-left: 6px solid #4463b3;
	border-right: 6px solid #4463b3;
	border-bottom: 0;
}
.txt_bg, .txt_bg1{
	background: url(../img/bg.png) no-repeat;
	width: 120px;
	height: 126px;
	padding: 28px 20px 61px 19px;
	font-size: 12px;
	line-height: 18px;
	color: #a7a7a7;
	font-family: arial;
	position: absolute;
	left: -21px;
	top: -198px;
	display: none;
}
.w962 li.show div.c{
	display: block;
}
.txt_bg1{
	background: url(../img/timer_bg.png) no-repeat;
	left: -21px;
	padding: 56px 20px 33px 19px;
	left: -22px;
	top: 52px;
}
.txt_bg a, .txt_bg1 a{
	color: #a7a7a7;
}
.txt_bg a:hover, .txt_bg1 a:hover{
	color: #FF6600;
}
.w_con{
	margin-top: 220px;
}
.w_con ul{
	overflow: hidden;
}
.w_con li{
	float: left;
	width: 240px;
	height: 325px;
	padding: 18px 18px 28px;
	margin: 0 20px 0 33px;
	background: url(../img/list_bg.png) no-repeat;
}
.wrapper2{
	width: 100%;
	background: url(../img/bg2.png) repeat-x;
	height: 736px;
	margin-top: 40px;
}
.bg5{
	background: url(../img/wz3.png) no-repeat 50% 72px;
	padding: 245px 0 0 0;
}
.change_con{
	width: 1000px;
	position: relative;
	overflow: hidden;
}
.c_bigpic{
	width: 430px;
	margin: 0 30px 0 40px;
}
.c_bigpic .h244{
	width: 430px;
	height: 244px;
	overflow: hidden;
}
.bei14b, .bei14b a{
	font-size: 14px;
	line-height: 32px;
	color: #f3f3f3;
	font-weight: bold;
	display: block;
	margin: 10px 0;
}
.bei14b a:hover{
	color: #FF6600;
}
.bei14{
	line-height: 22px;
	color: #F3F3F3;
	font-size: 14px;
	vertical-align: top;
}
.c_spicbox{
	width: 480px;
}
.c_spicbox .c_spic_con{
	height: 180px;
	margin-bottom: 32px;
	overflow: hidden;
}
.c_spic{
	width: 240px;
	height: 180px;
	margin-right: 10px;
	float: left;
}
.orange{
	color: #FF6600;
}
.orange:hover{
	color: #FF3333;
}
.bg6{
	background: url(../img/wz4.png) no-repeat 50% 65px;
}
.w_con2{
	height: 278px;
	padding-top: 220px;
	position: relative;
	overflow: hidden;
}
.w_con2 ul{
	position: absolute;
	overflow: hidden;
	width: auto;
	height: 278px;
}
.w_con2_pic{
	width: 866px;
	height: 278px;
	margin-left: 61px;
	overflow: hidden;
	position: relative;
}
.w_con2_pic li{
	float: left;
	width: 194px;
	height: 278px;
	margin-right: 30px;
	overflow: hidden;
}
.w_con2_pic li img{
	width: 192px;
	height: 276px;
	border: 1px solid #e3e3e3;
}
.c_btn{
	display: inline-block;
	width: 24px;
	height: 278px;
	background: url(../img/tou.png) no-repeat;
	position: absolute;
	top:220px;
}
.prev{
	left: 0;
}
.next{
	right: 0;
	background-position: -25px 0;
}
.prev:hover{
	background-position: -52px 0;
}
.next:hover{
	background-position: -76px 0;
}
.dw{
	margin: 40px 68px 70px 38px;
}
.dw_con{
	width: 410px;
	float: left;
}
.dw_con h2{
	font-size: 20px;
	font-family:"microsoft yahei";
	height: 38px;
	line-height: 38px;
	margin-bottom: 5px;
}
.dw_con h2 a{
	color: #4463B3;
	text-decoration: underline;
}
.dw_con p{
	font-size: 12px;
	color: #666666;
	line-height: 24px;
	font-family: arial;
}
.dw_con .spic{
	margin-top: 13px;
}
.dw_con .spic img{
	width: 406px;
	height: 222px;
}
.dw_con .bigpic{
	width: 426px;
	height: 422px;
}
.bg7{
	background: url(../img/wz5.png) no-repeat 50% 72px;
	padding: 245px 0 0 0;
}
.say{
	margin: 0 40px;
	overflow: hidden;
}
.s_list{
	width: 365px;
	height: 92px;
	padding: 10px 12px 10px 13px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
}
.s_list .s_item .s_pic{
	width: 92px;
	height: 92px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}
.s_list .s_item .s_pic1{
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
.s_list .s_item  img{
	width: 92px;
	height: 92px;
}
.s_list .s_item h2{
	font-family: arial;
	height: 20px;
	line-height: 20px;
	padding: 3px 0;
	font-weight: bold;
}
.s_list .s_item h2 a{
	color: #6f6f6f;
}
.s_list .s_item p{
	line-height: 18px;
	color: #6f6f6f;
	font-family: arial;
}
.s_txt{
	width: 254px;
	height: 92px;
	overflow: hidden;
}
.bg8{
	background: url(../img/wz6.png) no-repeat 50% 60px;
}
.w_con3{
	margin-top: 255px;
	overflow: hidden;
}
.silder-navbox{
	position: fixed;
	left: 50%;
	bottom: 120px;
	width: 129px;
	height: 369px;
	margin-left: 510px;
	background: url(../img/pf1.png) no-repeat;
	z-index: 9999;
}
.silder-nav{
	margin-top: 91px;
	height: 202px;
}
.silder-nav a{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
}
.silder-nav a:hover{
	color: #FF6600;
	text-decoration: none;
}
.top{
	width: 42px;
	height: 42px;
	display: block;
	margin-left: 39px;
}
